body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
nav{
    display: block;
    background-color: goldenrod;
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid white;
    text-align: center;
}
nav ul{
    list-style: none;
    display: flex;
    margin-top: 30px;
}
ul li a{
    text-decoration: none;
    margin-left: 20px;
    font-weight: 800;
    font-size: 20px;
    color: black;
    padding: 5px;
    border-radius: 5px;
}
h1{
    font-size: 50px;
}
ul li a:hover{
    background-color: gray;
}
.header-area{
    display:inline-flex;
    margin-top: 100px;
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
    
}
.half-width img{
    width: 100%;
}
.orange-color{
    color: orange;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
   padding: 10px 20px;
   color: white;
   font-size: xx-large;
   display: inline-block;
   margin-top: 60px;
  
   border-radius: 20px;
   margin-top: 25px;
   
}
.about-us{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 50px;
    }
.about-item{
    width: 50%;
    padding: 5%;
}
.about-item img {
    width: 57.5%;
    margin-left: 100px;
}
.recipies{
    display: flex;
}
.recipies-item{
    width: 32%;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey ;
}
.recipies-item img {
    width: 100%;
}
.recipies-area{
    text-align: center;
}
.recepie{
    margin-bottom: 100px;
}
footer {
    display: block;
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
    border-top: 1px solid white;
    text-align: center;
  }
  footer p{
      color: white;
  }
  @media screen and (max-width: 700px) {
    .header-area{
        display: inline-block;
        padding: 5%;
    }
    .half-width{
        width: 100%;
        margin-top: 50px;
  }
  .about-us{
      display: inline;
  }
  .about-item{
      width: 100%;
  }
  .recipies{
      display: inline;
  }
  .recipies-item{
      width: 100%;
      margin-top: 40px;
  }
  }